$socketSize: 0.75rem;
$socketColor: #bdc182;

.node {
  color: white;
  position: absolute;
  width: 250px;
  min-height: 100px;
  background-color: #00000077;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  cursor: grab;
  transition: color 250ms, border-color 250ms, background-color 250ms;
  z-index: 5;

  // &:hover,
  &.active {
    background-color: #00000088;
    border-color: #696969;
  }



  .nodeContent {

    .nodeName {
      font-weight: bold;
      background-color: black;
      padding: $socketSize/2 $socketSize;
    }

    .nodePreview {
      & > img {
        width: 100%;
      }
    }
  }

  .sockets {
    display: flex;
    flex-direction: column;
    gap: $socketSize / 2;
    height: 100%;
    position: absolute;
    justify-content: space-around;
    top: 0;


    &.inputs {
      left: -$socketSize / 2;
    }

    &.outputs {
      right: -$socketSize / 2;
    }

    .socket {
      background-color: darken($socketColor, 30%);
      width: $socketSize;
      aspect-ratio: 1;
      border-radius: 100%;
      transition: all 250ms;
      cursor: crosshair;

      &:hover,
      &.connected {
        background-color: $socketColor;
      }
    }
  }
}
